<div class="habilidades">
    <div class="d-flex flex-md-row flex-column justify-content-md-center align-items-center align-items-md-stretch text-center">
        <div class="col col-3 bg-white habilidades-1">
            <i class="bi-hdd-fill"></i>
            <h3>Backend</h3>
            @* <p>
                Trabajo desde el desarrollo, pruebas técnicas y puesta en producción con entrega continua.
            </p> *@
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>ADO .NET</li>
                <li>Dapper</li>
                <li>Procedimientos Almacenados</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades-2">
            <i class="bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Desarrollo de SPA 
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Angular, React
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>TypeScript</li>
                <li>Angular Material</li>
                <li>jQuery</li>
                <li>React Hooks</li>
            </ul>
        </div>
    </div>
</div>