<div class="text-center">
    <h2 class="display-4">Carlos Porras</h2>
    
    <img src="~/img/foto.jpg" alt="Foto de Carlos" class="foto" />
</div>

<h2 class="text-center">.NET | C# | Angular | TypeScript | SQL</h2>
<div class="logos mx-auto">
    <img class="img-dotnet" src="~/img/net-logo.svg" alt="dotnet logo" />
    <img class="img-angular" src="~/img/angular-logo.png" alt="angular logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h3 class="display-5 fw-bold">Bienvenido</h3>
        <p>
            Programador con +2 años de experiencia en el desarrollo web usando .NET y Angular. He trabajado con los lenguajes de C# y
            JavaScript en proyectos bajo un marco de trabajo ágil. Me considero autodidacta y siempre estoy dispuesto a probar nuevos
            lenguajes y tecnologías
        </p>
    </div>
</div>