@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Carlos Porras</h1>
    <h2>Desarrollador full stack especializado en tecnologías .NET y JavaScript</h2>
    <img src="~/img/foto.jpg" alt="Foto de Carlos" class="foto" />
</div>

<div class="text-center">
    <img class="img-dotnet" src="~/img/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido</h1>
        <p>
            Programador con +2 años de experiencia en el desarrollo web usando .NET y Angular. He trabajado con los lenguajes de C# y
            JavaScript en proyectos bajo un marco de trabajo ágil. Me considero autodidacta y siempre estoy dispuesto a probar nuevos
            lenguajes y tecnologías
        </p>
    </div>
</div>

<div class="habilidades">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades-1">
            <i class="bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                Trabajo desde el desarrollo, pruebas técnicas y puesta en producción con entrega continua.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, SQL Server
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Dapper</li>
                <li>Procedimientos Almacenados</li>
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades-2">
            <i class="bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>
                Puedo crear front-ends robustos los cuales cumplen con los requerimientos del negocio
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                Angular, React
            </p>
            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Angular Material</li>
                <li>jQuery</li>
                <li>React Hooks</li>
            </ul>
        </div>
    </div>
</div>