@model IEnumerable<IGrouping<string, ProyectoDTO>>
@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Mis proyectos</h1>
    <p>Aquí encontrarás algunos de los proyectos en los que he trabajado.</p>
</div>

@foreach (var grupo in Model)
{
    <partial name="_ListadoProyectos" model="grupo" />
    
}